#rejectbox
        {
            margin-top: 15px;
            padding-left: 10px;
            position: absolute;
            float: left;
            border-top: 20px solid #00aade;
            background-color:#f7f9fa;
            border-left: 5px solid #00aade;
            border-right: 5px solid #00aade;
            border-bottom: 5px solid #00aade;
            font-family: Calibri;
            margin-left: 20px;
			width: 500px;
			height : 200px;
			border-radius: 15px;
        }
        